.table{
    text-decoration: none;
    padding-left:15px;
    font-size:33px;
    font-weight:bold;
    color:black;
}
.top-1{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color:#14889f90;
    margin-top:0px;
    padding:10px 0px 30px 10px;
    position: sticky;
}

.top-2{
    border:2px dashed black;
    width:350px;
    margin:15px;
    /* padding-left:20px; */
    background-color:rgb(199, 223, 255);
    border-radius:10px; 
    opacity:0.75;
}
.top-2:hover{
    transform:scale(1.15);
}

.description{
    display:flex;
    padding-left:20px;
}

.search-box{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.buttom{
    border:2px dashed black;
    text-decoration: none;
    background-color:rgb(199, 223, 255);
    padding:3px 0px 3px 5px;
    border-radius:10px;
    opacity:0.8;
}
.buttom:hover{
    transform:scale(1.1);
}
.news{
    text-decoration: none;
    font-weight:bold;
    font-size:10px;
    color:black;
    margin-right:10px;
}

.box{
    border:1px solid black;
    margin-top:30px;
    margin-left:40%;
    /* margin: 5px 43%; */
    padding:10px 0px 0px 30px;
    width:200px;
    height:300px;
    background-color:#14889f90;
}

.videos1{
    display:flex;
}
.videos2{
    display:flex;
}

.first{
    margin:20px 30px 40px 90px;
    padding:20px 15px 60px 15px;
    background-color:lightgray;
}
.first:hover{
    transform:scale(1.15);
}
/* .first-animation:hover{
    animation-name:bigger;
}
@keyframes bigger {
    from{}
    to{width:560px;height: 315px}
} */
.second{
    margin:20px 0px 40px 0px;
    padding:20px 15px 60px 15px;
    background-color:lightgray;
}
.second:hover{
    transform:scale(1.15);
}
.third{
    margin:20px 60px 40px 30px;
    padding:20px 15px 60px 15px;
    background-color:lightgray;
}
.third:hover{
    transform:scale(1.15);
}
.forth{
    margin:0px 30px 40px 90px;
    padding:20px 15px 60px 15px;
    background-color:lightgray;
}
.forth:hover{
    transform:scale(1.15);
}
.fifth{
    margin:0px 0px 40px 0px;
    padding:20px 15px 60px 15px;
    background-color:lightgray;
}
.fifth:hover{
    transform:scale(1.15);
}
.sixth{
    margin:0px 60px 40px 30px;
    padding:20px 15px 60px 15px;
    background-color:lightgray;
}
.sixth:hover{
    transform:scale(1.15);
}
.personal{
    display:flex;
}
.space{
    margin-left:5px;
    width:400px;
    height:800px;
    background-color:rgba(71, 156, 128, 0.231);
    border-radius:10px;
}

.classroom1{
    /* margin-top:5px; */
    margin-left:20px;
    height:680px;
    border-radius:10px;
    background-color:rgba(116, 151, 126, 0.463);
}
.classroom2{
    border:3px dashed black; 
    display:flex;
    margin-top:20px;
    margin-left:50px;
    margin-right:50px;
    height:200px;
    border-radius:10px;
    background-color:rgba(96, 144, 145, 0.413);
}
.classroom2:hover{
    transform:scale(1.15);
}
.picture{
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    width:150px;
    height:150px;
}
.special{
    font-size:40pt;
    background-color:rgb(223, 244, 102);
    border-radius:10px;
}
.myclass{
    text-decoration: none;
}

.myclass:hover{
    transform:scale(1.1);
}
.myclass2:hover{
    transform:scale(1.1);
}
.myclass3{
    text-decoration: none;
    width:400px;
    height:800px;
    background-color:rgba(71, 156, 128, 0.231);
}
.attachment{
    border:2px dashed black;
    background-color:rgba(173, 242, 242, 0.61);
    width:120px;
    margin-left:50px;
    padding-top:15px;
    padding-right:10px;
    border-radius:10px;
}

